<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Financify</title>
        <link rel="stylesheet" href="styles/global.css">
        <link rel="stylesheet" href="styles/settings.css">
        <link rel="stylesheet" href="styles/sidebar.css">
        
    </head>
    <body>
        <main class="container">
            <section id="content">

                <form method="post" class="modify-form info hidden">
                
                    <button type="button" class="close">X</button>
                
                    <div>
                        <input type="text" name="username" placeholder="أدخل اسم المستخدم" required>
                        <label for="username">اسم المستخدم</label>
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="أدخل البريد الإلكتروني">
                        <label for="email">بريد إلكتروني</label>
                    </div>
                    <div>
                        <input type="number" name="number" maxlength="13" placeholder="رقم الجوال">
                        <label for="number">رقم الجوال</label>
                    </div>
                
                    <input type="submit" value="حفظ التغييرات" class="submit-btn patch-btn">
                </form>
                
                <form method="post" class="modify-form-password hidden">
                    <button type="button" class="close">X</button>
                    <h5>تغيير كلمة المرور الخاصة بي</h5>
                    <div>
                        <input type="password" name="password" required placeholder="أدخل كلمة المرور">
                        <label for="password">كلمة المرور</label>
                    </div>
                    <div>
                        <input type="password" name="password2" required placeholder="أعد إدخال كلمة المرور">
                        <label for="password2">أعد كتابة كلمة المرور</label>
                    </div>
                    <input type="submit" value="تعديل كلمة المرور" class="submit-btn">
                </form>




                <div class="setting modify">
                    <button>تعديل معلومات الحساب</button>
                </div>
                <div class="setting logout">
                    <a href="/logout">Log out</a>
                </div>



                <div class="pop-up-modify hidden">
                    <div class="btn-container">
                        <button class="close">X</button>
                    </div>
                    <h4>تعديل حسابي</h4>
                    <div class="btn">
                        <button class="info">تعديل الحساب</button>
                    </div>
                    <div class="btn">
                        <button class="password">تعديل كلمة المرور</button>
                    </div>
                </div>



                <div class="hidden" id="account" data-account='<%= JSON.stringify(account) %>'></div>

            </section>

            <%- include('sidebar.ejs') %>
        </main>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="js/settings-script.js"></script>
    </body>
</html>