
<aside id="side-bar">
    <div class="side-bar-link finances">
        <a href="/finances">الإدارة المالية</a>
    </div>

    <div class="side-bar-link clients">
        <a href="/clients">إدارة العملاء</a>
    </div>

    <div class="side-bar-link currencies">
        <a href="/currencies">إدارة العملات</a>
    </div>
    <div class="side-bar-link users">
        <a href="#">إدارة المستخدمين</a>
    </div>
    <div class="side-bar-link settings">
        <a href="/settings">إعدادات</a>
    </div>
</aside>