<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="notif.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <a href="#option1">الادارة المالية</a>
            <a href="#option2">الادارة العملاء</a>
            <a href="#option3">الادارة العملات</a>
            <a href="#option4">الاشعارات</a>
            <a href="#option5">الإحصائيات</a>
            <a href="#option6">الأسئلة الشائعة</a>
            <a href="#option7">إعدادات النظام</a>
          </div>
    </div>
</body>
</html>
