#content  table {
    background-color: #0c997a77;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto 20px;
    width: 700px;
    padding: 20px;
}


#currencies-table {
    margin-top: 50px;
}