h2 {
    font-size: x-large;
}

#sidebar {
    grid-column: 2;
    background-color: #002326;
    color: white;
}

.search-form {
    height: fit-content;
    width: 90%;
    margin: 0 auto;
}



.search-form .search-btn {
    width: 90%;
    margin: 20px 0;
}

.general-budget-container {
    height: 60vh;
}


.general-budget-table {
    background-color: #B9D2E6;
    border-radius: 10px;
    border: 1px solid black;
    margin: 35px auto;
    max-height: 55vh;
    width: 95%;
    overflow-y: scroll;
}

.resume {
    display: flex;
    justify-content: space-between;
}

.resume div {
    background-color: #B9D2E6;
    height: fit-content;
    width: 150px;
    border-radius: 10px;
}

.bar {
    display: flex;
}

.bar a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}



#sidebar form {
    margin-top: 10vh;
}

#sidebar input {
    display: block;
    margin: 10px auto;
}

.submit-btn {
    margin: 0 auto;
}




/* search for a value in a drop down  */
.dropdown {
    display: block;
    
}

.dropdown-search {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100%;
    height: 30px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 50%;
    left: 14%;
    background-color: #f9f9f9;
    min-width: 25%;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.dropdown-item {
    padding: 7px;
    text-decoration: none;
    display: block;
    color: #333;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #ccc;
}

.show {
    display: block;
}